
h1{
    font-family:sans-serif;
    text-align: center;
}

p {
    color: rgba(188, 143, 143, 0.849);
    font-family:sans-serif;
    text-align: center;
}

li {
    font-family:sans-serif;
    text-align: center;
    list-style: none;
    font-size: 200%;
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    
}

.Header{
    margin: 0;
    padding: 0;
    top: 0;
}

.steuerung{
    display: inline-block;
    background: rgb(138, 194, 138);
    position: fixed;
    margin: 0;
    padding: 0%;
    top: 0;
    right: 0;
}